<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Handlebars - jsTemplates</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<ul class="artist-list"></ul>
<!--
<script src="js/vendor/jquery-1.11.1.min.js"></script>
<script src="js/vendor/handlebars-v2.0.0.js"></script>
-->
<script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/handlebars.js"></script>
<script id="tmpl-artist" type="text/tmpl">
	{{#each results}}
	<li>{{name}}</li>
	{{/each}}
</script>
<script type="text/javascript">

	/* json data sample
	data = 
	[{"ArtistId":43,"Name":"A Cor Do Som"},{"ArtistId":230,"Name":"Aaron Copland & London Symphony Orchestra"},{"ArtistId":202,"Name":"Aaron Goldberg"},{"ArtistId":1,"Name":"AC/DC"}]
	*/

	$(function() {
		var tmplSource = $('#tmpl-artist').html(),
			template = Handlebars.compile(tmplSource);

		$.getJSON('js/midi.json').done(function(results) {
			if (results) {  
				
				$(".artist-list").html(template(results));
			}
		});
	});

</script>
</body>
</html>