<!DOCTYPE html>
<html>
<head>
    <title>midi</title>
        <meta charset="utf-8">
        <!-- Nota http://semantic-ui.com fyrir interface -->
        <link type="text/css" rel="stylesheet" href="dist/semantic.min.css">
        <link type="text/css" rel="stylesheet" href="stylesheet.css">     
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/handlebars.js"></script>
</head>
<body>

<ul class="midi-list"></ul>

<script id="tmpl-midi" type="text/tmpl">
    {{#each results}}

             <div class="box">
                    {{eventDateName}}
                    <img src={{imageSource}} title={{dateOfShow}}>
                    {{eventHallName}}
             </div>

    {{/each}}
</script>

<script type="application/javascript" src="js/script2.js"></script>
</body>
</html> 