<html>
<head>
    <title>Template Fun</title>
    <style type="text/css">
        body { font-family: Arial; font-size: 0.8em; }
        h4 { margin: 0.5em 0 0 0 }
    </style>
   <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/handlebars.js"></script>
<script type="text/javascript">
var sUrl = 'js/midi.json';
$(document).ready(function(){
$("#getData").click( function() {
    $.getJSON(sUrl,
        function(data){
            //empty out the div that will hold the generated content
            $("#artistsContent").empty();
            //call the tmpl function, pass in the data and have it append to artistsContainer
            $("#artistsTemplate").tmpl( data ).appendTo("#artistsContent");
            //indicate when last loaded
            var nowIs = new Date().toLocaleString();
            $('#lastLoad').html( nowIs );
        });
});
});
</script>
</head>
<body>

<div><button id="getData">Load Data</button> <span id="lastLoad"></span></div>
<div id="artistsContent"></div>
<script id="artistsTemplate" type="text/x-jquery-tmpl">
{{#each results}} 
        
           
           <li> {{eventDateName}} </li>
           <li> {{dateOfShow}} </li>
           <li> {{eventHallName}}</li>
           
       
         <br>
        {{/each}} 
</script>



</body>
</html>