<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars</title>
        <link rel="stylesheet" href="style.css">
        <!--Það þarf að sækja og laga vísun á jquery og handlebars -->
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/handlebars.js"></script>
        
        <script type="text/javascript">
         $("document").ready(function() {
            var template = $("#itemTemplateWrapper").html();
            // Handlebars compiles the template into a callable function
            var renderer = Handlebars.compile(template);
            // call the compiled function with the template data
            var result = renderer({
               "employees" : [{
                  "name" : "Henry Handsome",
                  "phone" : "+1-212-555-1234",
                  "email" : "pensive@example.com",
                  "title" : "Senior VP of Basketweaving",
                  "fulltime" : true
               }, {
                  "name" : "Penelope Persistent",
                  "phone" : "+1-212-555-8000",
                  "email" : "truthful@example.com",
                  "title" : "Principal Understudy",
                  "fulltime" : false
               }, {
                  "name" : "Sam Serendipity",
                  "phone" : "+1-212-555-9876",
                  "email" : "helpful@example.com",
                  "title" : "Chief Cook and Bottle Washer",
                  "fulltime" : true
               }, {
                  "name" : "Tom Terriffic",
                  "phone" : "+1-212-555-0011",
                  "email" : "grumpy@example.com",
                  "title" : "Janitor",
                  "fulltime" : false
               }]});
            
            $("#container").html(result);
         });






        </script>
    </head>
    <body>

        <h1>Conditionals and Loops in Templates with Handlebars JS</h1>
        <h3>Handlebars has support for basic logic built in.</h3>

        <!-- This is the container where the templates will be instantiated -->
        <div id="container">
        </div>
        <div id="target"></div>

<script id="itemTemplateWrapper" type="text/x-handlebars-template"> 

{{#each employees}} 
        
           <li> {{name}} </li>
           <li> {{phone}} </li>
           <li> {{email}} </li>
           <li> {{title}}</li>
           
         {{#if fulltime}}
          <li> <b>{{name}}</b> hlutastaf </li>
         {{/if}}

         {{#unless fulltime}}
             <li> <b>{{name}}</b> fulltime </li>
         {{/unless}}
         <br>
        {{/each}} 






<table>
 <thead> 
        <th>Name</th> 
        <th>phone</th> 
        <th>email</th> 
        <th>title</th> 
        <th>fulltime</th> 
    </thead> 
    <tbody> 
        {{#each employees}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{phone}}</td> 
            <td>{{email}}</td> 
            <td>{{title}}</td>
            <td>{{fulltime}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

</script>



    </body>
</html>
